<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>

<div th:each="msg:${errmsg}">
    <p th:text="${msg}"></p>
</div>


删除用户
<div th:each="adminuser:${adminUsers}">
    <span th:text="${adminuser.name}"></span>
    <a th:href="@{'/admin/deladminuser/'+${adminuser.id}}">del</a>
</div>

<hr>

删除短网址
<form th:action="@{/admin/deleteshorturl}" method="post">
    短网址： <input type="text" name="deleteshorturl">
    <input type="submit">
</form>

<hr>


添加管理员
<form th:action="@{/admin/addadminuser}" method="post">
    用户名 ：<input type="text" name="username">
    密码： <input type="password" name="password">
    密码： <input type="password" name="repeatpassword">
    <input type="submit">
</form>


</body>
</html>